:root {
    --bg: #0a0a0a;
    --bg2: #141414;
    --gold: #d4af37;
    --gold-light: #f0d78c;
    --text: #f0f0f0;
    --text2: #aaa;
    --border: #2a2a2a;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--gold);
}


a {
    color: var(--gold);
    text-decoration: none;
}

a:hover {
    color: var(--gold-light);
}

input,
textarea,
select {
    background: var(--bg2);
    border: 1px solid var(--border);
    color: var(--text);
    /* padding: 0.6rem 0.9rem; */
    border-radius: 8px;
    accent-color: var(--gold-light);
}

.form-check-input:checked {
    background-color: #ffc107;
    border-color: #e9ecef;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--gold);
}

.card,
.box {
    background: var(--bg2);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 1.25rem;
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(90deg, transparent, var(--gold), transparent);
    margin: 1.5rem 0;
}

::selection {
    background: var(--gold);
    color: #111;
}